<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - AQuestTest</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <link rel="icon" href="@Url.Content("~/favicon.ico")" />
    @*<link rel="shortcut icon" href="../AQuestTest/favicon.ico" type="image/x-icon">*@

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>

    <script>
        var baseUrl = @Url.Content("~/");
    </script>
</head>
<body>
    <div class="container body-content" style="margin-top: 10px">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - AQuest Test</p>
        </footer>
    </div>
</body>
</html>
